@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Questrial&display=swap');
@import "tailwindcss";

@theme {
  --font-Mrp:"Manrope", sans-serif;
  --font-Qtl: "Questrial", sans-serif;
  --font-PJS:  "Plus Jakarta Sans", sans-serif;
}